
ul{
    display: flex;
    overflow: auto;
}
li{
    margin: 0 10vw;
}

.item:hover .image{

}


.visually-hidden{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}
}
